.DS_Store
*.xcuserstate
xcuserdata/
.build/
DerivedData/
*.pyc
__pycache__/
/android/.gradle/
/android/build/
/android/**/build/
local.properties
build/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
